
<div id="footer" ng-controller="FooterCtrl">
    <div class="icon ion-podium btn-round"  ng-click="showLeaderboard()" ></div>
    <!--<div class="icon ion-information pull-right btn-round"  ng-click="credit()"  ></div>-->
    <div class="icon ion-star pull-right btn-round" ng-click="showRateGame()"></div>
    <!--<button class=" icon ion-podium btn-round"></button>-->
    <!--<button class=" ion-information pull-right btn-round"></button>-->
    <!--<button class=" ion-star pull-right btn-round"></button>-->
</div>