<ion-view cache-view="false">




    <ion-content scroll="false">

        <div id="header">
            <div id="score" class="trans-skew"  ng-click="backToMain()" ></div>
            <div class="score-text" >
                <i class="ion-chevron-left c-focus" ></i></div>
            <!--<div class="right-menu">-->
                <!--<sound-buttons></sound-buttons>-->
            <!--</div>-->
        </div>

        <div class="center">
            <div class="col">
                <!--<div id="pp-logo" class="animated fadeIn d05 t05" ng-include="'img/pp-logo.svg'"></div>-->
                <div  class="animated fadeIn d05 t05" > เกมที่ 4 </div>

                <div class="animated fadeInLeftBig t05 d075 mm-btn" ng-include="'img/btn-easy.svg'" ng-click="modeSelect('easy')"></div>
                <div class="animated fadeInRightBig t05 d075 mm-btn" ng-include="'img/btn-normal.svg'" ng-click="modeSelect('normal')"></div>
                <div class="animated fadeInLeftBig t05 d075 mm-btn" ng-include="'img/btn-hard.svg'" ng-click="modeSelect('hard')"></div>

            </div>
        </div>

    </ion-content>


</ion-view>




