<ion-view >
    <ion-content scroll="false" class="pause">

        <div class="pause-bg">
            <img src="img/pause-bg.svg"/>
        </div>
        <div id="header">
            <div class="right-menu" >
                <sound-buttons></sound-buttons>
            </div>
        </div>
        <div class="go-btn-wrap">
            <div class="go-center">
                <a class="btn-round btn-replay" ng-click="closePause()">
                    <i class="ion-ios-play"></i>
                </a>
            </div>
        </div>

    </ion-content>
</ion-view>