<ion-view cache-view="false">

    <ion-content scroll="false">

        <div id="header">
            <!--<div class="right-menu">-->
                <!--<sound-buttons></sound-buttons>-->
            <!--</div>-->
        </div>

        <style>
            .mm-btn{
                border: 1px solid #CCC;
                padding:10px 0px;
                margin:10px;
            }
        </style>

        <div class="center">
            <div class="col">

                <!--<div class="animated fadeInLeftBig t05 d075 mm-btn" ng-include="'img/btn-easy.svg'" ng-click="modeSelect('easy')"></div>-->
                <div class="animated fadeInLeftBig t05 d075 mm-btn"  ng-click="gameSelect('easy')">เกมที่ 1</div>
                <div class="animated fadeInLeftBig t05 d075 mm-btn"  ng-click="gameSelect('remmath/remember')">เกมที่ 2</div>
                <div class="animated fadeInRightBig t05 d075 mm-btn"  ng-click="gameSelect('georemember/play')">เกมที่ 3</div>
                <div class="animated fadeInLeftBig t05 d075 mm-btn"  ng-click="gameSelect('geomath/menu')">เกมที่ 4</div>
                <div class="animated fadeInLeftBig t05 d075 mm-btn"  ng-click="gameSelect('math/menu')">เกมที่ 5</div>

            </div>
        </div>

    </ion-content>
    <!--<footer-bar></footer-bar>-->

</ion-view>




